<div>
    <h2>Pagamento do anuncio {{nomeAnuncion}}:</h2>
    <ul>
        <li>Proprietario do anuncio: {{nomeProprietario}}</li>
        <li>Preco Proposto: {{precoProposta}}</li>
        <li>Intervalo de preco anunciado: [{{precoAnuncioMin}},{{precoAnuncioMax}}]</li>
        <li>Comprador: {{nomeComprador}}</li>
    </ul>
</div>